body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
}
p {
    font-size: 18px;
}
.dec_heading{
    color: #1B98F5;
    text-decoration: underline; 
    text-underline-offset: 20%;
}
.dec_dif_color{
    color: black;
}
/*========================= header_area css ============================*/
#header_area {
    padding: 50px 0;
    background: #dfe6e9;
}
.header_content {
    display: flex;
}
.our_button {
    margin-top: 50px;
}
.our_button a,input[type=submit] {
    border-radius: 8px;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(#048cf7, #74b9ff);
}
#header_area img, #reciepe_area img{
    width: 100%;
}
.single_header_col{
    width: 50%;
}
/*========================= reciepe_area css ============================*/
#reciepe_area{
    text-align: center;
    padding: 50px 0;
}
.reciepies{
    display: flex;
    gap: 40px;
}

.single_reciepe_col {
    border-radius: 10px;
    border: 2px solid #1B98F5;
    padding: 10px;
    transition: transform .5s;
}
.single_reciepe_col:hover{
    transform: scale(1.1);
}
.single_reciepe_col>h3, .single_reciepe_col>p{
    margin: 2px;
}
/*=========================== about_us area css============================= */
#about_us_area{
    padding: 50px 0;
    background: #ecf0f1;
}
.about_us {
    display: flex;
    gap: 40px;
    align-items: center;
}
.single_about_img {
    width: 60%;
}
.single_about_img img{
    width: 100%;
    border-radius: 10px;
}
.single_about_con{
    width: 40%;
}
.single_about_con  p {
    text-align: justify;
}
/*=========================== book_table area css============================= */
#book_table_area{
    background: url(images/book-table.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 100px 0;
    text-align: center;
}
/*=========================== our chef area css============================= */
#our_chef_area{
    margin: 50px 0;
    text-align: center;
}
.our_chefs{
    display: flex;
    gap: 40px;
}
.single_chef_col{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 5px;
    transition: transform .5s;
}
.single_chef_col:hover{
    transform: scale(1.1);
}
.single_chef_col>h3, .single_chef_col>p{
    margin: 2px;
}
.single_chef_col p{
    text-align: justify;
}
.single_chef_col h3{
    border-bottom: 3px solid #1B98F5;
}
.single_chef_col img{
    width: 100%;
    border-radius: 10px;
}
/*=========================== our_follower area css============================= */
#our_follower_area{
    background: #edf1f5;
    padding:50px 0;
    text-align: center;
}
.our_followers{
    display: flex;
    justify-content: space-between;
}
.single_followrs_col {
    padding: 2rem;
    border-radius: 1rem;
    border: 4px solid rgba(0, 0, 0, 0.1);
}
.single_followrs_col i {
    font-size: 80px;
}
.ytb{
    color: red;
}
.fb{
    color: navy;
}
.inst{
   color: #8a3ab9;
}
/*=========================== review_area css============================= */
#review_area{
    margin: 50px 0;
    text-align: center;
}
.reviews{
    display: flex;
    gap: 40px;
}
.single_review_col img{
    border-radius: 50%;
}
.single_review_col {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    padding: 5px;
}
.single_review_col>h4, .single_review_col>p{
    margin: 2px;
}
.fill{
    color: orange;
}
.empty{
    color: orange;
}
/*=========================== contact_us area css============================= */
#contact_us{
    background: url(images/contact_bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
}
#contact_us h2{
    text-align: center;
    margin-bottom: 0;
}
.contact_us_form form {
    padding: 2rem;
    border-radius: 1rem;
    width: 50%;
    margin: 0 auto;
  }
.contact_us_form form input,textarea {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    font-size: 18px;
    border: 2px solid gray;
    display: block;
    outline: none;
    margin: 5px 0;
    background-color: transparent;
}
.contact_us_form form input[type="submit"]{
    width: 25%;
}

/*=========================== footer area css============================= */
#footer{
    background: #dfe6e9;
    padding: 30px 0;
    text-align: center;
}
#footer p{
    font-size: 16px;
}
#footer p a{
    text-decoration: none;
    color: #1B98F5;
    font-weight: bold;
}
span.dif_color {
    color: #1B98F5;
}